/*
Mobile design
*/
.about {
  width: 100%;
  text-align: center;
  display: inline-block;
  float: left;
}

.style-img {
  display: block;
  margin: auto;
  width: 80%;
}

.style {
  text-align: center;
}

.image-text {
    text-align: center;
}

img.profile {
  max-width: 100%;
  float: none;
  display: inline-block;
  max-height: 600px;
}

.portfolio {
  grid-template: auto auto auto auto auto / 1fr;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

p {
  font-size: 150%;
}

h1 {
    font-family: "Lucida Console";
    color: #6088a5;
}

body {
  background: #F9F5FF;
}

.content {
  width: 70%;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 50px;
}

img.logo {
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
}

.bg-primary {
    background-color: #28262C!important;
    color: #F9F5FF!important;
}

a.nav-link {
  color: #F9F5FF!important;
}

.active {
    background-color: #edcb48!important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #edcb48;
  color: #F9F5FF;
  text-align: center;
}

a.footer-link {
  color: #F9F5FF;
}

img.banner {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.navbar-light .navbar-toggler {
    background: #edcb48;
    border-color: #28262C;
}

.grid-image {
  max-width: 100%;
}

.image-grid {
    max-width: 100%;
    max-height: 500px;
}

/*
Desktop design
*/
@media only screen and (min-width: 601px) {
  p {
    font-size: 100%;
  }

  /* Image Grid */
  .portfolio {
    grid-template: auto auto auto auto auto / 1fr 1fr;
  }

  img.profile {
    float: right;
    max-width: 50%;
  }

  .about {
      text-align: right;
      width: 40%;
  }

  .image-text {
    text-align: left;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .style {
    text-align: left;
  }
}
